html{
    background-color: rgb(199, 230, 175);
}

#main-body{
    /* width: calc(var(innerWidth)); */
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    border: solid purple 1px;
    margin:0 auto;
    /* height: fit-content; */
    background-color: rgb(216, 248, 237);
    align-items: center;
}
#test-header{
width: 100vw;
display: flex;      /*CSS flex*/
/* flex-wrap: wrap; */
justify-content: space-evenly;
/* align-items: baseline; */
/* column-gap: 60px; */
border: solid black 1px;
font-size: 55px;
color: rgb(250, 249, 215);
position: sticky;
top:0;
background-color:rgb(22, 22, 23);
align-content:center;
}

#header-content{
    width: max-content;
    display: flex;
    column-gap: 100px;
    
}

#test-body{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items:center;
column-gap: 60px;
/* border: solid black 1px; */
font-size: 30px;
width:fit-content;
margin: auto;
}

#intro{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin:auto;
    max-width: 1300px;
}

#footer{
width: 100vw;
display: flex;
flex-wrap: wrap;
justify-content:center;
/* align-items:baseline; */
column-gap: 100px;
border: solid black 1px;
position: absolute;
bottom: -20px;
background-color:rgb(207, 207, 247);
height: 50px;
}
#contact-form{
display: flex;
flex-direction: column;
flex-wrap: wrap;
/* justify-content: center; */
/* border: solid black 1px; */
align-items: center;
font-size: 30px;
}

#form-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1px;
}

.textboxid{
    width: 300px;
    height: 30px;
    font-size: 26px;
}

#about-intro{  
    max-width: 1362px;
    margin: auto;
}

#port-1,#port-2,#port-3{
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
column-gap: 50px;
/* border: solid black 1px; */
font-size: 30px;
margin-top: 20px;
background: rgb(186, 223, 210);

}

.pics1{
    width: 300px;
    height: 200px;   
}



.disc{
    font-size: 28px;
} 

#about-body{
    display: flex;
    flex-direction: column;
    max-width: 1362px;
    margin: auto;
}

#about-1,#about-2,#about-3{
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    max-width: 1362px;  
}

#about-1a,#about-2a,#about-3a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2{
    font-size: 40px;
    text-align: justify;
    margin: 30px;
}

h3{
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px; 
    font-size: 35px ;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: bisque;
}

a:hover{
    color:rgb(235, 42, 42);    /*hover effect*/
    font-size: 56px;            /*transition*/
}

hr{
    width: 80%;                 /*proportional unit*/
}

#test-Shot{
    width: 300px;
    height: 300px;
}

.buttons{
    height: 33px;
    width: 100px;
    font-size: 27px;
}

.icon{
    height: 48px;
    width: auto;
}

@media screen and (max-width: 1300px) {     /*media queries*/
    #main-body{
        /* width: calc(var(innerWidth)); */
        width: 98vw;       /*proportional unit*/
        border: solid purple 1px;
        margin:0 auto;
        height: fit-content;
        background-color: rgb(216, 248, 237);
    }

    #test-header{
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    /* column-gap: 60px; */
    border: solid black 1px;
    /* font-size: 9vw; */
    color: antiquewhite;
    }

    #header-content{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap:  10vw;
        font-size: 8vw;
    }

   

    #test-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    /* column-gap: 60px; */
    /* border: solid black 1px; */
    font-size: 6.5vw;
    row-gap: 1vw;
    width: 95vw;
    }

    #intro{
        display: flex;
        justify-content: center;
        font-size: 6vw;
        margin:auto;
        max-width: 97vw;
        
    }


    #footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:baseline;
    column-gap: 10vw;
    border: solid black 0.1vw;
    position: sticky;
    bottom: -20px;
    height: 10vw;
    }
  

    #contact-form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* justify-content: center; */
        /* border: solid black 1px; */
        /* text-align: left !important; */
        font-size: 5vw;
        }
        
        #form-body{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            /* justify-content: left; */
        }

        .textboxid{
            width: 50vw;
            height: 6vw;
            font-size: 5vw;
        }

        .text-area{
            width: 90vw;
            height: 20vw;
        }
    /* #contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 60px; */
    /* border: solid black 0.2vw;
    font-size: 5vw;
    } */ */

    /* #form-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
     */
    /* .textboxid{
        align-content: center !important;
        width: 30vw;
        height: 6vw;
        font-size: 5vw;
        
    } */
    #port-1,#port-2,#port-3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 50px;
    /* border: solid black 1px; */
    font-size: 5vw;
    margin-top: 5vw;
    background: rgb(186, 223, 210);
    }

    .img-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .pics1{
        width: 60vw;
        height: 35vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        margin-right: 3vw;
        margin-left: 3vw;           
    }
        
    .disc{
        /* margin-left: 3vw ; */
        /* word-wrap: break-word; */
        margin-top: 0vw;
        text-align: left;
    }
    #about-intro{  
        max-width: 95vw;
        margin: auto;
    }


    #about-body{
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        margin: auto;
    }
    
    #about-1,#about-2,#about-3{
        display: flex;  
        flex-direction: column; 
        justify-content: center; 
        max-width: 98vw;  
    }
    
    #about-1a,#about-2a,#about-3a{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 3vw;
        column-gap: -10px;
    }


    h2{
        font-size: 7vw;
        text-align: center;
        margin: 3vw;
    }
    
    h3{
        margin-left: 0 !important;
        margin-bottom: 0px;
        margin-top: 0px; 
        text-decoration: underline;
        text-align: center;
        font-size: 7vw;
    }
    
    a:link{
        text-decoration: none;
    }
    
    a:hover{
        color:rgb(235, 42, 42);    /*hover effect*/
        font-size: 10vw;    /*transition*/
    }
    
    hr{
        width: 80%;
    }

    #test-Shot{
        width: 40vw;
        height: 40vw;
    }

    .icon{
        width: 8vw;
        height: 9vw;
    }

    .buttons{
        height: 10vw;
        width: 40vw;
        font-size: 6vw;
    }

  
}