#main-body{
    width: 1400px;;
    border: solid purple 1px;
    margin:0 auto;
    height: 1200px;
}
#test-header{
width: 1398px;;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: baseline;
column-gap: 60px;
border: solid black 1px;
font-size: 60px;
}
#test-body{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items:center;
column-gap: 60px;
border: solid black 1px;
font-size: 30px;
}
#footer{
width: 1398px;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items:baseline;
column-gap: 60px;
border: solid black 1px;
}
#contact-form{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-end;
/* row-gap: 60px; */
border: solid black 1px;
font-size: 30px;
}

.textboxid{
    width: 300px;
    height: 20px;
    font-size: 16px;
}
#port-1,#port-2,#port-3{
display: flex;
justify-content: flex-start;
align-items: flex-start;
column-gap: 50px;
border: solid black 1px;
font-size: 30px;
}

.pics1{
    width: 400px;
    height: 250px;
}

.disc{
    margin-left: 20px;
}

